SOAPTester/trunk/src/main/wsdl/GeoTaggerADT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"
    elementFormDefault="qualified"
    targetNamespace="http://cs.cf.ac.uk/ToponymOntologyServiceCaptionADT"
    xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:cdf="http://cs.cf.ac.uk/ToponymOntologyServiceCaptionADT">

    <xs:import
        schemaLocation="http://schemas.opengis.net/xlink/1.0.0/xlinks.xsd"
        namespace="http://www.w3.org/1999/xlink"/>

    <xs:import
        schemaLocation="/Users/philsmart/Documents/Java/Macbook/Java/gmlScheme/alt/gml/3.1.1/base/feature.xsd"
        namespace="http://www.opengis.net/gml"/>
		
    <xs:import namespace="http://tripod.shef.ac.uk/TripodFault" schemaLocation="TripodFault.xsd"> </xs:import>



    <xs:element name="TWSRoadFeaturesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSGeofeatureMatches"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TWSCameraLocation">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="GeometryProperty" type="gml:GeometryPropertyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TWSSemanticSalienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSCameraLocation"/>
                <xs:element ref="cdf:TWSIdentifiedGeofeatures"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TWSSemanticSalienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSIdentifiedGeofeatures"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="TWSReverseGeocodeText">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSInputLocation"/>
                <xs:element ref="cdf:TWSContainingRegion"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TWSContainingRegion">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="cdf:TWSGeofeatureResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TWSInputLocation">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="GeometryProperty" type="gml:GeometryPropertyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TWSIdentifiedGeofeatures">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSGeofeatures"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="TWSTaggedCaption">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSFullTaggedCaption"/>
                <xs:element ref="cdf:TWSTaggedPrepositions"/>
                <xs:element ref="cdf:TWSTaggedToponyms"/>
                <xs:element minOccurs="0" ref="cdf:TWSDerivedFootprint"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSDerivedFootprint">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GeometryProperty" type="gml:GeometryPropertyType"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSFullTaggedCaption">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TWSRawTaggedCaption" type="xs:string"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cdf:POSElement"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="POSElement">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TWSPOSWord" type="xs:string"/>
                <xs:element name="TWSType" type="xs:string"/>
                <xs:element name="TWSStartIndex" type="xs:int"/>
                <xs:element name="TWSEndIndex" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSReverseGeocodeSpatial">
        <xs:complexType>
            <xs:sequence>
             <!--   <xs:element name="TWSBufferSize" type="xs:double"/>
                <xs:element name="TWSCompassDirection" type="xs:double"/>
                <xs:element name="TWSImageLocationLatitude" type="xs:double"/>
                <xs:element name="TWSImageLocationLongitude" type="xs:double"/>
                <xs:element ref="cdf:TWSBufferShape"/> -->
                <xs:element ref="cdf:TWSGeofeatureMatches"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSBufferShape">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="GeometryProperty" type="gml:GeometryPropertyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSTaggedToponyms">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cdf:TWSToponymRecord"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSTaggedPrepositions">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="cdf:TWSPreposition"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSToponymRecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSToponym"/>
                <xs:element ref="cdf:TWSConfidence"/>
                <xs:element ref="cdf:TWSGeofeatureMatches"/>
                <xs:element ref="cdf:TWSPositionStart"/>
                <xs:element ref="cdf:TWSPositionEnd"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSGeofeatures">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="cdf:TWSGeofeatureResult"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSGeofeature" type="cdf:TWSGeofeatureType"/>
    <xs:complexType name="TWSGeofeatureType">
        <xs:complexContent>
            <xs:extension base="gml:AbstractFeatureType">
                <xs:sequence>
                    <xs:element name="TWSGeofeatureID" type="xs:long"/>
                    <xs:element ref="cdf:TWSGeofeatureToponym"/>
                    <xs:element name="TWSGeofeatureParentID" type="xs:long"/>
                    <xs:element name="TWSGeofeatureParentString" type="xs:string"/>
                    <xs:element name="TWSDescription" type="xs:string"/>
                    <xs:element name="TWSSourceFeatureType" type="xs:string"/>
                    <xs:element name="TWSSourceName" type="xs:string"/>
                    <xs:element minOccurs="0" name="GeometryProperty"
                        type="gml:GeometryPropertyType"/>
                    <xs:element name="FeatureType">
                        <xs:complexType>
                            <xs:attributeGroup ref="xlink:simpleLink"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="TWSGeofeatureToponym">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TWSGeofeatureStandardName" type="xs:string"/>
                <xs:element name="TWSGeofeatureAlternateName" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSGeofeatureResult">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="cdf:TWSGeofeatureType">
                    <xs:sequence>
                        <xs:element name="TWSGeofeatureConfidence" type="xs:double"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSGeofeatureMatches">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSGeofeatures"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSPreposition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cdf:TWSPrepositionWord"/>
                <xs:element ref="cdf:TWSPositionStart"/>
                <xs:element ref="cdf:TWSPositionEnd"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TWSPrepositionWord" type="xs:string"/>
    <xs:element name="TWSToponym" type="xs:string"/>
    <xs:element name="TWSPositionStart" type="xs:int"/>
    <xs:element name="TWSPositionEnd" type="xs:int"/>
    <xs:element name="TWSConfidence" type="xs:float"/>
    <xs:element name="TWSCaption">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="caption" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


     <xs:element name="TWSReverseGeocodeSpatialInput">
        <xs:complexType>
            <xs:choice>
                <xs:element name ="geometry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="GeometryProperty" type="gml:GeometryPropertyType"/>
                            <xs:element minOccurs="0" name="UrbanOrRural" type="xs:string"/>
                          <xs:element minOccurs="0" name="ExcludePOI" type="xs:string"/>
                          <xs:element minOccurs="0" name="BuildingDetected" type="xs:string"/> <!--recompile to include-->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fulldata">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="TWSLatitude" nillable="true" type="xs:double"/>
                            <xs:element minOccurs="0" name="TWSLongitude" nillable="true" type="xs:double"/>
                            <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:double"/>
                            <xs:element minOccurs="0" name="compassDirection" nillable="true" type="xs:double"/>
                            <xs:element minOccurs="0" name="UrbanOrRural" type="xs:string"/>
                            <xs:element minOccurs="0" name="ExcludePOI" type="xs:string"/>
                            <xs:element minOccurs="0" name="BuildingDetected" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>



    <xs:element name="TWSReverseGeocodeTextualInput">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="TWSLatitude" nillable="true" type="xs:double"/>
                <xs:element minOccurs="0" maxOccurs="1" name="TWSLongitude" nillable="true" type="xs:double"/>
                <xs:element minOccurs="0" name="UrbanOrRural" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TWSRoadFeaturesInput">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element minOccurs="0" name="TWSLatitude" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="TWSLongitude" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:double"/>
                    <xs:element minOccurs="0" name="compassDirection" nillable="true" type="xs:double"/>
                </xs:sequence>
            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>
