SOAPTester/trunk/src/main/wsdl/ToponymOntologyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:axis2="http://uk.ac.cf.cs.toponymWS.Soap.Soap.WebInterface.ToponymOntologyService"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:ns0="http://uk.ac.cf.cs.toponymWS.Soap.data.Soap.WebInterface.ToponymOntologyService"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:ns1="http://org.apache.axis2/xsd"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tos="http://cs.cf.ac.uk/ToponymOntologyServiceCaptionADT"
		xmlns:tri="http://tripod.shef.ac.uk/TripodFault"
        targetNamespace="http://uk.ac.cf.cs.toponymWS.Soap.Soap.WebInterface.ToponymOntologyService">
<!-- please note that CR means- caption service and ReverseGeocode sercice -->
    <wsdl:documentation>The Toponym Ontology Service tacks an image caption as an input and outputs a complex XML Schema Datatype that represents a fully tagged (POS and Geo) caption.</wsdl:documentation>

    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://cs.cf.ac.uk/ToponymOntologyServiceCaptionADT" schemaLocation="GeoTaggerADT.xsd"></xs:import>
            <xs:import namespace="http://tripod.shef.ac.uk/TripodFault" schemaLocation="TripodFault.xsd"> </xs:import>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="getGeoTaggedCaptionRequest">
        <wsdl:part name="parameters" element="tos:TWSCaption"/>
    </wsdl:message>
    <wsdl:message name="getGeoTaggedCaptionResponse">
        <wsdl:part name="parameters" element="tos:TWSTaggedCaption"/>
    </wsdl:message>
    <wsdl:message name="getGeofeaturesRequest">
        <wsdl:part name="parameters" element="tos:TWSReverseGeocodeSpatialInput"/>
    </wsdl:message>
    <wsdl:message name="getGeofeaturesResponse">
        <wsdl:part name="parameters" element="tos:TWSReverseGeocodeSpatial"/>
    </wsdl:message>    
    <wsdl:message name="getRoadFeaturesRequest">
        <wsdl:part name="parameters" element="tos:TWSRoadFeaturesInput"/>
    </wsdl:message>
    <wsdl:message name="getRoadFeaturesResponse">
        <wsdl:part name="parameters" element="tos:TWSRoadFeaturesResponse"/>
    </wsdl:message>
    <wsdl:message name="getGeofeaturesFastRequest">
        <wsdl:part name="parameters" element="tos:TWSReverseGeocodeSpatialInput"/>
    </wsdl:message>
    <wsdl:message name="getGeofeaturesFastResponse">
        <wsdl:part name="parameters" element="tos:TWSReverseGeocodeSpatial"/>
    </wsdl:message>
    <wsdl:message name="getContainingRegionRequest">
        <wsdl:part name="parameters" element="tos:TWSReverseGeocodeTextualInput"/>
    </wsdl:message>
    <wsdl:message name="getContainingRegionResponse">
        <wsdl:part name="parameters" element="tos:TWSReverseGeocodeText"/>
    </wsdl:message>
    <wsdl:message name="senmanticRankRequest">
        <wsdl:part name="parameters" element="tos:TWSSemanticSalienceRequest"/>
    </wsdl:message>
    <wsdl:message name="senmanticRankReponse">
        <wsdl:part name="parameters" element="tos:TWSSemanticSalienceResponse"/>
    </wsdl:message>
    <wsdl:message name="ToponymOntologyServiceFaultMessage"> <!-- NEW -->
        <wsdl:documentation>The fault message that is used for sending fault information to the client</wsdl:documentation>
        <wsdl:part name="details" element="tri:TripodServiceFault"/>
    </wsdl:message>


    <wsdl:portType name="ToponymOntologyServicePortType">
        <wsdl:operation name="getGeoTaggedCaption">
            <wsdl:input message="axis2:getGeoTaggedCaptionRequest" wsaw:Action="urn:getGeoTaggedCaption"/>
            <wsdl:output message="axis2:getGeoTaggedCaptionResponse" wsaw:Action="urn:getGeoTaggedCaptionResponse"/>
            <wsdl:fault name="ToponymOntologyServiceFault" message="axis2:ToponymOntologyServiceFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getContainingRegion">
            <wsdl:input message="axis2:getContainingRegionRequest" wsaw:Action="urn:getContainingRegion"/>
            <wsdl:output message="axis2:getContainingRegionResponse" wsaw:Action="urn:getContainingRegionResponse"/>
            <wsdl:fault name="ToponymOntologyServiceFault" message="axis2:ToponymOntologyServiceFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getGeofeatures">
            <wsdl:input message="axis2:getGeofeaturesRequest" wsaw:Action="urn:getGeofeatures"/>
            <wsdl:output message="axis2:getGeofeaturesResponse" wsaw:Action="urn:getGeofeaturesResponse"/>
            <wsdl:fault name="ToponymOntologyServiceFault" message="axis2:ToponymOntologyServiceFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getRoadFeatures">
            <wsdl:input message="axis2:getRoadFeaturesRequest" wsaw:Action="urn:getRoadFeatures"/>
            <wsdl:output message="axis2:getRoadFeaturesResponse" wsaw:Action="urn:getRoadFeaturesResponse"/>
            <wsdl:fault name="ToponymOntologyServiceFault" message="axis2:ToponymOntologyServiceFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getGeofeaturesFast">
            <wsdl:input message="axis2:getGeofeaturesFastRequest" wsaw:Action="urn:getGeofeaturesFast"/>
            <wsdl:output message="axis2:getGeofeaturesFastResponse" wsaw:Action="urn:getGeofeaturesFastResponse"/>
            <wsdl:fault name="ToponymOntologyServiceFault" message="axis2:ToponymOntologyServiceFaultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="semanticRank">
            <wsdl:input message="axis2:senmanticRankRequest" wsaw:Action="urn:semanticRank"/>
            <wsdl:output message="axis2:senmanticRankReponse" wsaw:Action="urn:senmanticRankReponse"/>
            <wsdl:fault name="ToponymOntologyServiceFault" message="axis2:ToponymOntologyServiceFaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="ToponymOntologyServiceSOAP12Binding" type="axis2:ToponymOntologyServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getGeoTaggedCaption">
            <soap12:operation soapAction="urn:getGeoTaggedCaption" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ToponymOntologyServiceFault"> <!-- NEW -->
                <wsdl:documentation>
            	  The fault message is defined by the TripodFault
                </wsdl:documentation>
                <soap:fault use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="semanticRank">
            <soap12:operation soapAction="urn:semanticRank" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ToponymOntologyServiceFault"> <!-- NEW -->
                <wsdl:documentation>
            	  The fault message is defined by the TripodFault
                </wsdl:documentation>
                <soap:fault use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getContainingRegion">
            <soap12:operation soapAction="urn:getContainingRegion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ToponymOntologyServiceFault"> <!-- NEW -->
                <wsdl:documentation>
            	  The fault message is defined by the TripodFault
                </wsdl:documentation>
                <soap:fault use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeofeatures">
            <soap12:operation soapAction="urn:getGeofeatures" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ToponymOntologyServiceFault"> <!-- NEW -->
                <wsdl:documentation>
            	  The fault message is defined by the TripodFault
                </wsdl:documentation>
                <soap:fault use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getRoadFeatures">
            <soap12:operation soapAction="urn:getRoadFeatures" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ToponymOntologyServiceFault"> <!-- NEW -->
                <wsdl:documentation>
            	  The fault message is defined by the TripodFault
                </wsdl:documentation>
                <soap:fault use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getGeofeaturesFast">
            <soap12:operation soapAction="urn:getGeofeaturesFast" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ToponymOntologyServiceFault"> <!-- NEW -->
                <wsdl:documentation>
            	  The fault message is defined by the TripodFault
                </wsdl:documentation>
                <soap:fault use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="ToponymOntologyService">
        <wsdl:port name="ToponymOntologyServiceSOAP12port_http" binding="axis2:ToponymOntologyServiceSOAP12Binding">
            <soap12:address location="http://tomcatvm.centrica.dnsalias.net:83/axis2/services/ToponymOntologyService"/>
        </wsdl:port>
    </wsdl:service>




</wsdl:definitions>
